body{
  margin: 0;
  padding: 0;
}

.input-container{
  width: 100vw;
  height: 120px;
  background-color: #810CA8;
  
  
}

.inputs{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 50px;
}

.addbtn{
  position: relative;
  top: 45px;
  left: 50vw;
}

.input-style{
  padding: 9px;
  outline: none;
  border-radius: 4px;
  border: none;
}

.addbtn button{
  padding: 4px 10px;
  margin-top: 9px;
  position: relative;
  right: 28px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

